.header{
    position: relative;
    top:0;
    width: 100%;
    text-align: center;
    margin: auto;
    background-color: #2196F3;
    color: white;
}

.header .title{
    padding: 1rem;
    color: white;
}

.header span{
    padding: 1rem;
}

.header-bar{
    border-top: 2px solid white;
}

.categories, .order{
    margin: 0;
    padding-left: 0;
    display: inline-block;
}

.categories li, .order li {
    display: inline-block;
    padding: .5rem 1rem;
}

.categories li a, .order li a{
    color: white;
}

.categories li:hover, .order li:hover{
    font-weight: 500;
    background-color: rgb(28, 120, 196);
}

.active{
    font-weight: 500;
    background-color: rgb(28, 120, 196);
}

.order li {
    text-transform: capitalize;
}