.content-container{
    margin: auto;

}
.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.25);
}

.modal {
    position: absolute;
    top: 12rem;
    left: 12rem;
    right: 12rem;
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,.24), 0 .25rem .75rem 0 rgba(0,0,0,.12);
    min-width: 500px;
}

.close-button{
    border:0;
    background: transparent;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color: #272727;

    svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}
